.day {
  display: flex;
  width: 100%;

  .left, .right {
    width: 50%;
  }

  .left {
    padding: 0 10px 20px 20px;
    height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    .day-part {
      width: calc(100% - 40px);
      position: relative;

      &:nth-child(odd) {
        background: #ababab;
      }

      &:nth-child(even) {
        background: #f3f3f3;
      }

      .t1 {
        position: absolute;
        top: -10px;
        left: -40px;
      }

      .t2 {
        position: absolute;
        bottom: -9px;
        left: -40px;
      }
    }

    .allocated-part {
      position: absolute;
      right: 15px;
      width: calc(100% - 80px);
      background: coral;
      border-radius: 7px;
      transition: 50ms all ease;
      padding: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }

      .part-details {
        height: 100%;
        position: relative;

        .loader {
          position: absolute;
          top: 0;
          right: 0;
          .spinner {
            margin: 0 auto 0;
            text-align: center;
          }

          .spinner > div {
            width: 6px;
            height: 6px;
            background-color: #333;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          }

          .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
          }

          .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
          }

          @-webkit-keyframes sk-bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0) }
            40% { -webkit-transform: scale(1.0) }
          }

          @keyframes sk-bouncedelay {
            0%, 80%, 100% {
              -webkit-transform: scale(0);
              transform: scale(0);
            } 40% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
              }
          }
        }

        .top-handle, .bottom-handle {
          position: absolute;
          height: 5px;
          width: 100%;

          &:hover {
            cursor: n-resize;
          }
        }

        .bottom-handle {
          bottom: -5px;
        }

        .top-handle {
          top: -5px;
        }
      }
    }
  }

  .right {
    padding: 0 20px 20px 10px;
    .btn-r {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}