$black: #2b2a2a;
//#1C1C1C
$white: #fafafa;
$error: #ea4f4f;
$psize: 16px;
$darkGray: lighten($black, 40%);
$boxShadow: 0 0 15px rgba(0,0,0,0.3);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  background: $white;
  height: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .content-wrapper {
    flex: 1 0 auto;
  }
}

footer {
  flex-shrink: 0;
}

a,
a:visited,
a:link,
a:active {
  color: $black;
  text-decoration: none;
}

p {
  margin: 0;
}

body.resizing-el {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: n-resize;
}

.content-wrapper {
  padding: 10px 20px 0 20px;
}