// Mixins
@mixin until($px) {
  @media (max-width: $px) {
    @content
  }
}

@mixin at-least($px) {
  @media (min-width: $px) {
    @content
  }
}


$black: #2b2a2a;
$white: #fafafa;
$error: #ea4f4f;
$psize: 16px;
$darkGray: lighten($black, 40%);
$boxShadow: 0 0 15px rgba(0,0,0,0.3);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  background: $white;
  height: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .content-wrapper {
    flex: 1 0 auto;
  }
}

footer {
  flex-shrink: 0;
}

a,
a:visited,
a:link,
a:active {
  color: $black;
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

body.resizing-el {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: n-resize;
}

.content-wrapper {
  padding: 10px 20px 0 20px;

  @include until(400px) {
    padding: 10px 10px 0 10px;
  }
}

.btns-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  button {
    margin-left: 20px;
  }
}