input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px $white inset !important;
}

.input-wrapper {
  position: relative;
  padding-top: 20px;

  label {
    transition: all 200ms ease;
    user-select: none;
    font-size: 17px;
    position: absolute;
    top: 46px;
    left: 10px;
    transform: translateY(-100%);
    z-index: 1;
  }

  input {
    transition: border 200ms ease;
    position: relative;
    z-index: 3;
    height: 36px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background: transparent !important;
    border-bottom: 2px solid $black;

    &:focus + label, &:not(:placeholder-shown) + label {
      z-index: 4;
      transform: translateY(-200%);
      font-size: 15px;
    }

    &.error {
      border-bottom: 2px solid $error;

      & + label {
        color: $error;
      }
    }
  }

  .error-msg {
    &::first-letter {
      text-transform: uppercase;
    }

    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
    color: $error;
    font-style: italic;
  }
}