input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px $white inset !important;
}

.input-wrapper {
  position: relative;
  padding-top: 20px;
  margin: 22px 0;

  label {
    transition: all 200ms ease;
    user-select: none;
    font-size: 15px;
    position: absolute;
    top: 46px;
    left: 10px;
    transform: translateY(-100%);
    z-index: 1;
  }

  input, textarea {
    transition: border 200ms ease;
    position: relative;
    z-index: 3;
    height: 36px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background: transparent !important;
    border-bottom: 2px solid $black;

    &.text-area {
      height: 100px;
      min-height: 60px;
      resize: vertical;
    }

    &:focus + label, &:not(:placeholder-shown) + label {
      z-index: 4;
      transform: translateY(-285%);
      font-size: 12px;
    }

    &.error {
      border-bottom: 2px solid $error;

      & + label {
        color: $error;
      }
    }
  }

  .error-msg {
    margin-left: 10px;
  }
}
.error-msg {
  &::first-letter {
    text-transform: uppercase;
  }

  font-size: 12px;
  margin-top: 10px;
  font-weight: 700;
  color: $error;
  font-style: italic;
}

.select-wrapper {
  margin: 22px 0;

  .sel__control {
    border: none;
    border-bottom: 2px solid #2b2a2a;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }

    &:hover {
      border: none;
      border-bottom: 2px solid #2b2a2a;
      outline: none;
    }

    .sel__indicator-separator {
     display: none;
    }
  }
}