.login-wrapper {
  //border: 2px solid $black;
  border-radius: 7px;
  box-shadow:  $boxShadow;
  padding: 30px;
  width: 50%;
  margin: 50px auto auto;

  .button-wrapper {
    display: flex;
    button {
      margin-top: 20px;
      margin-left: auto;
    }
  }
}