.tag-wrapper {
  margin-top: 50px;

  .table {
    display: flex;
    flex-direction: column;

    .table-header, .table-item {
      padding: 10px;
      width: 100%;
      display: grid;
      grid-template-columns: 5fr 5fr 1fr;
    }

    .table-header {
      border-bottom: 2px solid $black;
      font-weight: bold;
    }

    .table-item {
      .options {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        svg {
          height: 20px;
          width: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.edit-tag-modal {
  .modal-content {
    width: 400px !important;
    max-height: 80% !important;
  }

  .color {
    margin-bottom: 22px;
    .color-box {
      height: 20px;
      width: 100%;
      margin-bottom: 22px;
    }

    .sketch-picker {
      width: calc(100% - 20px) !important;
      margin-left: auto;
    }
  }
}