.week-wrapper {
  .top {
    button {
      outline: none;
      border: $black;
      background: $white;
      padding: 10px;
      box-shadow: 0 0 10px rgba($black, 0.3);
      border-radius: 7px;
      margin: 20px 10px;

      &.f {
        margin-left: 0;
      }
    }
  }

  .week-days-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 20px;

    .week-day {
      padding: 10px;
      border-radius: 7px;
      box-shadow: 0 0 10px rgba($black, 0.3);
      h2 {
        text-align: center;
      }

      .day-view {
        padding: 10px;
        margin-top: 20px;
        position: relative;

        .t-part {
          height: 10px;
        }

        .t-part:nth-child(odd) {
          background-color: #ababab;
        }

        .t-part:nth-child(even) {
          background-color: #ececec;
        }

        .week-day-allocation {
          border-radius: 7px;
          box-shadow: 0 0 5px rgba($black, 0.3);
          position: absolute;
          left: 12px;
          right: 12px;

          .tooltip {
            padding: 2px 5px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            //height: 20px;
            //width: 50px;
            background-color: $black;

            p {
              color: $white;
              font-size: 12px;
            }

            .down-triangle {
              position: absolute;
              bottom: -5px;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;

              border-top: 5px solid $black;
            }
          }

          &:hover {
            .tooltip {
              display: block;
            }
          }
        }
      }
    }
  }
}