* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.day {
  display: flex;
  width: 100%;

  .left, .right {
    width: 50%;
  }

  .left {
    padding: 20px 10px 20px 20px;
    height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    .day-part {
      width: calc(100% - 40px);
      position: relative;
      &:nth-child(odd) {
        background: #ababab;
      }
      &:nth-child(even) {
        background: #f3f3f3;
      }

      .t1 {
        position: absolute;
        top: -10px;
        left: -40px;
      }

      .t2 {
        position: absolute;
        bottom: -9px;
        left: -40px;
      }
    }

    .allocated-part {
      position: absolute;
      right: 15px;
      width: calc(100% - 80px);
      background: coral;
      border-radius: 7px;
      transition: 0.3s all ease;
      padding: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
      }

      .part-details {
        height: 100%;
        position: relative;

        .top-handle, .bottom-handle {
          position: absolute;
          height: 5px;
          width: 100%;

          &:hover {
            cursor: n-resize;
          }
        }

        .bottom-handle {
          bottom: -5px;
        }

        .top-handle {
          top: -5px;
        }
      }
    }
  }

  .right {
    padding: 20px 20px 20px 10px;
  }
}